<div class="inner-wrap">
  <aside class="right-off-canvas-menu l-details">
    <h2 class="l-title">{{yield title}}<a class="close right" aria-label="Close" {{action "close"}}>&times;</a></h2>
    {{yield details}}
  </aside>
  <section class="l-main">
    {{yield}}
  </section>
</div>
