<div class="off-canvas-wrap l-panel-layout" data-offcanvas>
  <div class="inner-wrap l-panel-wrap">

    <header class="tab-bar l-header">
      <div class="left-small">
        <a class="left-off-canvas-toggle menu-icon"><span></span></a>
        <span class="middle tab-bar-section"><h1 class="title">{{translate 'nav.rankings'}}</h1></span>
      </div>
    </header>

    <aside id="left-menu" class="left-off-canvas-menu l-menu">
      <ul class="off-canvas-list">
        <li>{{#link-to 'welcome' class="nav-link"}}{{translate 'nav.welcome'}}{{/link-to}}</li>
        <li>{{#link-to 'rankings' class="nav-link"}}{{translate 'nav.rankings'}}{{/link-to}}</li>
      </ul>
    </aside>

    <section class="l-panel">
      <p>Set in the year 0 F.E. ("Foundation Era"), The Psychohistorians opens on Trantor, the capital of the 12,000-year-old Galactic Empire. Though the empire appears stable and powerful, it is slowly decaying in ways that parallel the decline of the Western Roman Empire. Hari Seldon, a mathematician and psychologist, has developed psychohistory, a new field of science and psychology that equates all possibilities in large societies to mathematics, allowing for the prediction of future events.</p>
    </section>

    <a class="exit-off-canvas"></a>
  </div>
</div>
