{{#panel-layout session=session logout="backToHome"}}
  <header class="l-header row">
    <h2 class="small-8 column">{{translate 'nav.settings'}}</h2>
  </header>
  <div class="l-scrollable">
  </div>
{{/panel-layout}}