@require 'mixins'
@require 'layouts'
@require 'modules'
@require 'states'
@require 'theme-default'

body
  -webkit-touch-callout none
  user-select none

+placeholder(input)
  color $secondary-color
  font-style italic

.button > i
  display inline
  font-size 1.3em
  margin-right 0.5em
  line-height 0
  vertical-align middle