@require 'variables'

.l-parallax

  > .background
    background-color $primary-color
    height 620px
    background-repeat no-repeat
    background-size cover
    position fixed
    width 100%
    padding-top 15%
    text-align center

    > .title
      display inline-block
      font-size 50px
      color $main-bg-color

  > .content
    max-width 100%
    position relative
    top 500px
    padding 50px
    font-size 20px
    background-color $main-bg-color
      