@require 'variables'

.icon-link
  text-align center
  display inline-block
  
  > i
    display inline-block
    $edge = 7rem
    font-size 5rem
    width $edge
    line-height $edge
    border-radius 100%
    background-color $primary-color
    color $primary-inverted-color
    
  > label
    color $primary-color
    font-size 1.5rem
    