@require 'variables'

#index

  .l-parallax

    > .background:first-child
      background-image url('../images/the-city-that-never-sleeps_ad-wheeler.jpg')
      background-position center top
      padding-top 35vh
      text-align center
      z-index 2

      > .title
        max-width 75%
        margin 0 auto
        text-shadow 1px 1px $black

    > .foreground
      min-height auto
      z-index 1

      &:before
        background-image url('../images/not-that-way_alex-blackstorm.jpg')
        background-position 75% center

      > .content
        width 70%
        margin-left 0
        margin-right auto

    > .background:last-child
      background-image url('../images/callejones-de-motomachi_javi-sevillano.jpg')
      background-position center top
      padding-top 20vh
      z-index 0

      > footer
        padding 1rem
        background $secondary-color
        font-size 1rem


  .l-nav
    display block
    text-align center

.move-right .exit-off-canvas
  box-shadow none

.l-panel-wrap > .l-header
  background-color $primary-color

#rankings

  .l-header > div
    position relative

    > .button
      position absolute
      top .3rem
      right -.5rem

  .l-panel
    display flex
    flex-direction column
    height 100%

  .list
    flex 1
    overflow-y auto
    position relative

  .list-item
    > *
      font-size 1.5rem

      > .symbol
        font-size 2rem
        margin-left 1rem
        vertical-align bottom
        color $primary-color

    > *:first-child
      width 2.5rem
      font-size 2rem
      font-weight bold
      text-align center

    > *:nth-child(3)
      flex 1
