@require 'variables'

#welcome
  
  .l-parallax
    > .background
      background-image url('../images/manhattan-from-brooklyn-bridge.jpg')
      background-size auto 81%
      background-position 70% top
    
      > .title
        max-width 75%
        text-shadow 1px 1px $black
      
  .l-nav
    display block
    text-align center

.move-right .exit-off-canvas
  box-shadow none
  
.l-panel-wrap > .l-header
  background-color $primary-color