<div class="content" {{action "select"}}>
  <i class="icon fi-{{model.icon}}"></i>
  <div class="overlay" style="right: {{overlayPosition}};"></div>
  <div class="overlay blend" style="right: {{overlayPosition}};"></div>
</div>
